@model IEnumerable<Yemekler>


<a class="btn btn-primary" asp-controller="Yemekler" asp-action="Create">Yeni Yemek</a>
<table class="table table-hover">
    <thead>
        <tr>

            <td>@Html.DisplayNameFor(p=>p.Id)</td>
            <td>@Html.DisplayNameFor(p=>p.KategoriAdi)</td>
            <td>@Html.DisplayNameFor(p=>p.YemekAdi)</td>
            <td>@Html.DisplayNameFor(p=>p.Aciklama)</td>
            <td>@Html.DisplayNameFor(p=>p.SonKullanmaTarihi)</td>
            <td>@Html.DisplayNameFor(p=>p.Aşcı)</td>
            <td>@Html.DisplayNameFor(p=>p.Fiyat)</td>
            <td>@Html.DisplayNameFor(p=>p.BarkodNo)</td>


            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.KategoriAdi</td>
                <td>@item.YemekAdi</td>
                <td>@item.Aciklama</td>
                <td>@item.SonKullanmaTarihi</td>
                <td>@item.Aşcı</td>
                <td>@item.Fiyat</td>
                <td>@item.BarkodNo</td>


                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Yemekler" asp-route-id="@item.Id">Sil</a>
                    <a class="btn btn-info" asp-action="Update" asp-controller="Yemekler" asp-route-id="@item.Id">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>

</table>

